# MLflow
mlruns/
mlartifacts/

# Python
__pycache__/
*.pyc
*.pyo
.eggs/
*.egg-info/

# DVC
/data/*.csv
.dvc/tmp/
.dvc/cache/

# Virtual environments
venv/
.env/

# OS
.DS_Store
Thumbs.db

# Model artifacts
model_info.txt
